<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - RazorApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/bundle.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/RazorApp.styles.css" asp-append-version="true"/>
</head>
<body>
<main role="main">
    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>